{% extends 'tasks_base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>State date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                            <th>Recurring Task</th>
                            <th>Recurrence Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.end_date }}</td>
                                <td>
                                    {% if task.is_completed %}
                                        Done
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}
                                </td>
                                <td>{{ task.recurring }}</td>
                                {% if task.recurring %}
                                    <td>
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <select name="frequency" id="frequency">
                                                <option value="hourly">
                                                    Hourly
                                                </option>
                                                <option value="daily">
                                                    Daily
                                                </option>
                                                <option value="weekly">
                                                    Weekly
                                                </option>
                                                <option value="monthly">
                                                    Monthly
                                                </option>
                                                <option value="yearly">
                                                    Yearly
                                                </option>
                                            </select>
                                        </form>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
